/* Estilo para la pagina del index */

  
.bienvenida
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}  
.img{
    margin-top: 100px;
    height: 250px;
}